/* Creado por: L3RightMC */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
@keyframes abajo-arriba {
    0%{
        transform: translateY(100px);
        opacity: 0.1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes caer {
    from {
        transform: translateY(-100px);
        opacity: 1;
    }
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}
@keyframes derecha-izquierda {
    0%{
        transform: translateX(-1500px);
        opacity: 0.1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@font-face {
    font-family: "Hemg";
    src: url(../font/HemgjordLettering_PERSONAL_USE_ONLY.otf);
}
@font-face {
    font-family: "Simple";
    src: url(../font/Simple\ Letter.otf);
}
@font-face {
    font-family: "Sansburg";
    src: url(../font/Sansburg.ttf);
}
.lluvia{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* No afecta la interacción */
}
.gota{
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0.7;
    border-radius: 50%;
    animation: caer 2s linear infinite;
}
body{
    font-family: "Sansburg";
    background-color: black;
    color: white;
}
.decepcion{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    animation: abajo-arriba 3.5s ease-in-out;
}
.decepcion h1{
    max-width: 35%;
    margin: 0 auto;
    font-size: 45px;
}
.decepcion img{
    width: 40%;
    border-radius: 10px;
    margin: 0 auto;
}
main a{
    background-color: rgb(22, 22, 22);
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 90%;
    left: 90%;
    animation: derecha-izquierda 5s ease-in-out;
}
@media (max-width: 480px){
    @keyframes bajar {
        0% {
            transform: translateY(110vh);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .decepcion{
        margin-top: 40%;
    }
    .decepcion h1{
        max-width: 90%;
    }
    .decepcion img{
        width: 100%;
    }
    main a{
        position: absolute;
        left: 40%;
        top: 75%;
        animation: bajar 3s ease-in-out;
    }
}