<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/script2.js"></script>
    <link rel="stylesheet" href="../css/style2.css">
    <title>...</title>
</head>
<body>
    <div class="lluvia"></div>
    <main>
        <div class="decepcion">
            <h1>
                No me esperaba esto de ti... Me decepcionaste
            </h1>
            <img src="../img/gatotriste.gif" alt="gato triste">
        </div>
        <a href="../index.html">
            Exit
        </a>
    </main>
</body>
</html>
<!-- Creado por: L3RightMC -->