<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style1.css">
    <script src="../js/script1.js"></script>
    <title>YEEEAAHH</title>
</head>
<body>
    <div class="globos-container"></div>
    <main>
        <div class="contenido">
            <h1>
                SABÍA QUE ME IBAS A DECIR QUE SÍ, LO SABÍA
            </h1>
            <img src="../img/gatofeliz.gif" alt="gato rodando">
        </div>
        <a href="../index.html">
            Exit
        </a>
    </main>
</body>
</html>
<!-- Creado por: L3RightMC -->